<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641017213645-6rki0r2am1q7r5spuo176hlpark1icbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641017213645-6rki0r2am1q7r5spuo176hlpark1icbe</string>
	<key>API_KEY</key>
	<string>AIzaSyBcTM-0kUzsTKN2wXVBVaTpGasSpCZKzdM</string>
	<key>GCM_SENDER_ID</key>
	<string>641017213645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qhodegray.spinbible</string>
	<key>PROJECT_ID</key>
	<string>spin-bible</string>
	<key>STORAGE_BUCKET</key>
	<string>spin-bible.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641017213645:ios:3c15e79dbd0110bafd2f84</string>
</dict>
</plist>